:host {
  display: block;
}

:host([align="left"]) {
  text-align: left;
}

:host([align="left"]) ::slotted(*) {
  margin-right: auto !important;
}

:host([align="center"]) {
  text-align: center;
}

:host([align="center"]) ::slotted(*) {
  margin-right: auto !important;
  margin-left: auto !important;
}

:host([align="right"]) {
  text-align: right;
}

:host([align="right"]) ::slotted(*) {
  margin-left: auto !important;
}

:host ::slotted(stellar-button) {
  display: inline-block;
}

:host ::slotted(img),
:host ::slotted(stellar-code-block) {
  margin-bottom: 2rem !important;
}

:host ::slotted(*:last-child) {
  margin-bottom: 0 !important;
}

:host ::slotted(h1),
:host ::slotted(h2),
:host ::slotted(h3),
:host ::slotted(h4),
:host ::slotted(h5),
:host ::slotted(h6),
:host ::slotted(p) {
  margin-bottom: 2rem !important;
  max-width: 25em !important;
}

:host([full]) ::slotted(*) {
  max-width: 100% !important;
}

:host ::slotted(ul),
:host ::slotted(ol) {
  margin: .25em 0 !important;
  display: inline-block !important;
  text-align: left !important;
}

:host ::slotted(li) {
  margin-top: 0.5em !important;
}
