stellar-blur, stellar-blur *, stellar-blur *:before, stellar-blur *:after {
	box-sizing: border-box;
}

stellar-blur {
	filter: var(--blur-url);
	display: block;
	overflow: initial;
}

stellar-blur .blur-svg {
	display: none;
}
